<!DOCTYPE HTML>

<html ng-app="theMedicineTask">
  <head>
    <title>The medicine task</title>
  </head>
  <body ng-controller="controller as ctrl">
    <h1>The medicine task</h1>
    <p>
      Use the controls below to add or fetch a medication.
    </p>
    <input type="text" ng-model="ctrl.name">
    <button ng-click="ctrl.add()">Add</button>
    <button ng-click="ctrl.get()">Get</button>
    <p ng-if="ctrl.showResult">
      {{ctrl.result}}
    </p>
    <p ng-if="ctrl.showFetchCount">
      This medication has been fetched {{ctrl.count}} time(s).
    </p>
    <script src="dist/app.js"></script>
  </body>
</html>
